name: Tests

on:
  push:
    branches:
      - main
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - 1.74
          - stable
          - nightly
    steps:
      - uses: actions/checkout@v5

      - name: Setup toolchain
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}

      - name: Setup sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Run tests
        env:
          SCCACHE_GHA_ENABLED: "true"
          RUSTC_WRAPPER: "sccache"
        run: |
          pip install numpy
          cargo test --all-features
